.select_menu{
    width: 100%;
    cursor: pointer;
    position: relative;
}
.select{
    background-color: var(--bg-color3);
    padding: 0 20px;
    height: 48px;
    font: 400 14px "Poppins", sans-serif;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--txt-color2);
    white-space: nowrap;
    text-align: center;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-angle-down{margin-left: 10px; transition: .3s;}
.fa-angle-down.rotate{rotate: 180deg;}
.option_list{
    position: absolute;
    width: 100%;
    background-color: var(--bg-color3);
    border-radius: 12px;
    font: 400 14px "Poppins", sans-serif;
    color: var(--txt-color2);
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 10px;
    max-height: 0;
    overflow-y: auto;
    transition: 0.3s;
    z-index: 10;
}
.option {
    padding: 10px 15px;
    transition: 0.3s ease-in-out;
}
.option:hover{background-color: #e7fdf9;}
.option.selected{color: var(--txt-color3);}
.option_list::-webkit-scrollbar{
    width: 5px;
    background-color: var(--border-color);
}
.option_list::-webkit-scrollbar-thumb{background-color: var(--border-color) ;}
.option_list.active{height: 180px;}
@media(min-width: 860px) {
    .select_menu{
        width: 16.66%;
        border-right: 2px solid var(--bg-color2);
    }
    .select{
        width: fit-content; 
        margin: auto;
        font-size: 16px;
    }
    .option_list{
        font-size: 16px;

    }
}