:root{
    --bg_color: #00AF91;
    --bg-color2: #eee;
    --bg-color3: #fff;
    --bg-color4: #D9DBE9;
    --txt-color: #fff;
    --txt-color2: #14142B;
    --txt-color3: #007965;
    --border-color: #D9DBE9;
}
#bigBtns{padding: 26px 0;}
#bigBtns .bigBtns_content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.gundelik_evler, .ipoteka_evler{
    width: 160px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 14px;
    border: 1px solid var(--bg-color4);
    border-radius: 15px;
    background-color: var(--bg-color3);
    transition: .3s;
    span{
        width: 125px;
        text-align: center;
        font: 500 13px "Poppins", sans-serif;
        line-height: 118%;
        color: var(--txt-color2);
    }
    img{
        width: 80px;
        height: 48px;
    }
}
.gundelik_evler:hover, .ipoteka_evler:hover{background-color: #f7f6f6;}
.section_head_line {
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section_head {
    font: 600 18px "Poppins", sans-serif;
    color: var(--txt-color2);
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    display: flex;
    justify-content: flex-start;
    text-align: center;
}
.hamisina_bax {
    margin: 0;
    font: 600 12px "Poppins", sans-serif;
    color: var(--txt-color3);
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
  
@media (min-width: 860px) {
    #bigBtns{padding: 0;}
    #bigBtns .bigBtns_content{transform: translateY(-50%);}
    .section_head {font-size: 30px;}
    .hamisina_bax {
      margin-right: 150px;
      font-size: 18px;
    }  
    .gundelik_evler, .ipoteka_evler{
        width: 220px;
        height: 146px;
        padding: 23px;
        border-radius: 17px;
        span{
            font-size: 16px;
        }
        img{
            width: 116px;
            height: 70px;
        }
    }
}