#yasayisKompleksleri .my_slider {margin-top: 30px;}
#yasayisKompleksleri .swiper {
  width: 100%;
  height: 241px;
  box-sizing: border-box;
  margin: 0 auto;
}
#yasayisKompleksleri .swiper-slide {
  width: 155px !important;
  height: 241px !important;
  margin: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid #c5c3c3;
  border-radius: 12px;
}
#yasayisKompleksleri .swiper-button-next,
#yasayisKompleksleri .swiper-button-prev {display: none;}
#yasayisKompleksleri {
  position: relative;
  margin: 40px 0;
}
.kv_ev_qiymet {display: none;}
.yas_komp_ev_qiymet {
  font: 600 18px "Poppins", sans-serif;
  color: var(--txt-color2);
  text-align: center;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.yas_komp_ev_kv {
  font: 400 16px "Poppins", sans-serif;
  color: var(--txt-color2);
  text-align: center;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.yas_komp_ev_filter {
  border: none;
  border-radius: 36px;
  background-color: var(--bg_color);
  color: var(--bg-color3);
  text-align: center;
  width: 128px;
  height: 40px;
  font: 400 16px "Poppins", sans-serif;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.bina_park {
  width: 166px;
  height: 241px;
  display: flex;
  flex-direction: column;
}
.bina_park_img {
  position: relative;
  width: 100%;
  height: 121px;
}
.bina_park_img img {
  width: 100%;
  height: 100%;
  object-fit: cover; ;
}
.bina_park_info {padding: 10px;}
.bina_park_qiymet {
  font: 600 16px "Poppins", sans-serif;
  line-height: 100%;
  letter-spacing: 0%;
  height: 20px;
  color: var(--txt-color4);
}
.bina_park_name {
  font: 600 12px "Poppins", sans-serif;
  color: var(--txt-color2);
  height: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.bina_park_sirket,
.bina_park_unvan,
.bina_park_unvan2 {
  font: 400 12px "Poppins", sans-serif;
  color: var(--txt-color2);
  height: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
#yasayisKompleksleri .ferqli_ozellikler{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#yasayisKompleksleri .ferqli_top {
  display: flex;
  justify-content: end;
}
#yasayisKompleksleri .heart_icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#yasayisKompleksleri .heart_icon i {
  font-size: 20px;
  color: #ffffffe1;
}
#yasayisKompleksleri .ferqli_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#yasayisKompleksleri .ferqli_bottom_left {
  background-color: var(--bg-color3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  border: none;
  border-radius: 30px;
  padding: 0 14px;
  span {
    display: flex;
    align-items: center;
    height: 24px;
    padding: 0;
    text-align: center;
    font: 400 10px "Poppins", sans-serif;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--txt-color6);
  }
  i{
    color: var(--bg-color7);
    transform: rotate(135deg);
    margin-right: 7px;
    font-size: 12px;
    font-weight: thin;
  }
}
#yasayisKompleksleri .ferqli_bottom_right{display: none;}
#yasayisKompleksleri .check_icon {
  width: 18px;
  height: 18px;
}
#yasayisKompleksleri .percent_icon {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--bg-color5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg-color3);
  font-weight: bold;
  font-size: 12px;
}

@media (min-width: 860px) {
  #yasayisKompleksleri {margin: 80px 0;}
  .kv_ev_qiymet {
    display: flex;
    align-items: center;
    gap: 34px;
  }
  #yasayisKompleksleri .swiper{height: 691px;}
  #yasayisKompleksleri .swiper-slide{
    width: 288px !important;
    height: 338px !important;
  }
  #yasayisKompleksleri .swiper-button-next,
  #yasayisKompleksleri .swiper-button-prev {
    display: flex;
    top: 15px;
    transform: none;
    width: 42px;
    height: 42px;
    background-color: #eee;
    color: #00af91;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    z-index: 10;
    cursor: pointer;
  }
  #yasayisKompleksleri .swiper-button-prev::after {
    content: "⟵";
    font-size: 20px;
    font-weight: bold;
  }
  #yasayisKompleksleri .swiper-button-next::after {
    content: "⟶";
    font-size: 20px;
    font-weight: bold;
  }
  #yasayisKompleksleri .swiper-button-next:hover,
  #yasayisKompleksleri .swiper-button-prev:hover {background-color: #d1d0d0;}
  #yasayisKompleksleri .swiper-button-prev {
    right: 60px;
    left: auto;
  }
  #yasayisKompleksleri .swiper-button-next {right: 0;}
  .bina_park{
    width: 288px;
    height: 338px;
  }
  .bina_park_img{height: 176px;}
  #yasayisKompleksleri .ferqli_bottom_right {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .bina_park_info {padding: 16px;}
  .bina_park_qiymet {
    font-size: 20px;
    height: 29.8px;
  }
  .bina_park_name {
    font-size: 16px;
    height: 29.8px;
  }
  .bina_park_sirket,
  .bina_park_unvan,
  .bina_park_unvan2 {
    font-size: 16px;
    height: 23.84px;
  }
}
@media(min-width: 1200px) {
  #yasayisKompleksleri .swiper{height: 700px;}
}