:root {
    --bg_color: #00af91;
    --bg-color2: #eee;
    --bg-color3: #fff;
    --bg-color4: #d9dbe9;
    --bg-color5: #ffc837;
    --bg-color6: #F0FAF8;
    --bg-color7: #F58634;
    --bg-color8: #14142b;
    --bg-color9: #38BD7D;
    --bg-color10: #00AF91;
    --bg-color11: #a96da3;
    --bg-color12: #5bc0eb;
    --bg-color13: #f58634;
    --bg-color14: #F3F7F9;
    --bg-color15: #F9F9F9;
    --bg-color16: #444;
    --txt-color: #fff;
    --txt-color2: #14142b;
    --txt-color3: #007965;
    --txt-color4: #00af91;
    --txt-color5: #6e7191;
    --txt-color6: #462255;
    --txt-color7: #38BD7D;
    --txt-color8: #D9DBE9;
    --txt-color9: #00AF91;
    --txt-color10: #A0A3BD;
    --txt-color11: #000;
    --txt-color12: #a96da3;
    --txt-color13: #5bc0eb;
    --txt-color14: #f58634;
    --border-color: #d9dbe9;
    --border-color2: #a0a3bd;
    --border-color3: #00AF91B2;
    --border-color4: #A0A3BD;
}
