:root {
    --bg_color: #00af91;
    --bg-color2: #eee;
    --bg-color3: #fff;
    --bg-color4: #d9dbe9;
    --bg-color5: #ffc837;
    --bg-color6: #f0faf8;
    --bg-color7: #f58634;
    --bg-color8: #14142b;
    --bg-color9: #38bd7d;
    --bg-color10: #00af91;
    --bg-color11: #a96da3;
    --bg-color12: #5bc0eb;
    --bg-color13: #f58634;
    --bg-color14: #f3f7f9;
    --bg-color15: #f9f9f9;
    --bg-color16: #444;
    --bg-color17: #ECEDF4;
    --txt-color: #fff;
    --txt-color2: #14142b;
    --txt-color3: #007965;
    --txt-color4: #00af91;
    --txt-color5: #6e7191;
    --txt-color6: #462255;
    --txt-color7: #38bd7d;
    --txt-color8: #d9dbe9;
    --txt-color9: #00af91;
    --txt-color10: #a0a3bd;
    --txt-color11: #000;
    --txt-color12: #a96da3;
    --txt-color13: #5bc0eb;
    --txt-color14: #f58634;
    --txt-color15: #14142bda;
    --txt-color16: #4E4B66;
    --border-color: #d9dbe9;
    --border-color2: #a0a3bd;
    --border-color3: #00af91b2;
    --border-color4: #a0a3bd;
    --border-color5: #EFF0F6;
}
