:root{
    --bg_color: #00AF91;
    --bg-color2: #eee;
    --bg-color3: #fff;
    --txt-color: #fff;
    --txt-color2: #14142B;
    --txt-color3: #007965;
    --border-color: #D9DBE9;
}
.container{
    width: 90%;
    margin: auto;
}
.searching_box_bg{background-color: var(--bg-color2);}
.searching_box{
    width: 100%;
    padding: 20px; 
    display: none;
}
.search_btns{
    display: flex;
    align-items: center;
    gap: 12px;
}
.alqi_btn{
    width: 82;
    border: 1px solid transparent;
    border-radius: 15px;
    font: 600 16px "Gilroy", sans-serif;
    line-height: 40px;
    padding: 0 26px;
    background-color: var(--bg_color);
    color: var(--txt-color);
    cursor: pointer;
}
.kiraye_btn{
    width: 82;
    height: 40;
    border-radius: 15px;
    border-width: 1px;
    font: 600 16px "Gilroy", sans-serif;
    line-height: 40px;
    padding: 0 18px;
    border: 1px solid var(--txt-color2);
    cursor: pointer;
}
.secimler .axtar, .secimler .etarfli_btn{display: none;}
.mobile_last_btns {display: initial;}
.secimler, .etrafli_axtar_conetnt{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.etrafli_axtar_conetnt{margin-top: 12px;display: none;}
.unvan input{
    font: 400 16px "Poppins", sans-serif;
    color: var(--txt-color2);
    background-color: var(--bg-color3);
    border: 0.7px solid var(--border-color);
    border-radius: 15px;
    width: 100%;
    height: 48px;
    padding: 0 20px;
    outline: none;
    box-sizing: border-box;
}
.unvan input::placeholder{
    font: 400 14px "Poppins", sans-serif;
    color: var(--txt-color2);
}
.unvan input:focus{outline: 1px solid var(--bg_color);}
.elave_ozelliyi{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    margin-top: 14px;
}
.cixaris_inp, .ipoteka_inp{
    display: flex;
    align-items: center;
    gap: 14px;
}
#cixaris, #ipoteka{
    width: 20px;
    height: 20px;
    border: 2px solid var(--txt-color2);
    opacity: 0.7;
    cursor: pointer;
}
.cixaris_inp label, .ipoteka_inp label{
    font: 500 14px "Poppins", sans-serif;
    color: var(--txt-color2);
    cursor: pointer;
}
.last_btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.etarfli_btn{
    background: none;
    font: 500 16px "Poppins", sans-serif;
    color: var(--txt-color3);
    border: none;
    cursor: pointer;
    line-height: 40px;
    padding: 0 18px;
}
.etarfli_btn i{display: none;}
.sifirla{
    width: 162px;
    border-radius: 15px;
    border-width: 1px;
    font: 600 16px "Gilroy", sans-serif;
    line-height: 40px;
    padding: 0 30px;
    border: 1px solid var(--txt-color2);
    cursor: pointer;
}
.axtar{
    width: 162px;
    border: 1px solid transparent;
    border-radius: 15px;
    font: 600 16px "Gilroy", sans-serif;
    line-height: 40px;
    padding: 0 30px;
    background-color: var(--bg_color);
    color: var(--txt-color);
    cursor: pointer;
}
.sifirla{display: none;}


@media (min-width:768px) {
    .container{max-width: 1220px;}
    .searching_box_bg{background-color: transparent;}
    .searching_box{
        position: relative;
        display: block;
        padding: 38px;
        background-color: var(--bg-color2);
        width: 100%;
        border: none;
        border-radius: 26px;
    }
    .secimler {
        width: 100%;
        padding: 5px;
        background-color: var(--bg-color3);
        border-radius: 17px;
        flex-direction: row;
        /* justify-content: space-between; */
        align-items: center;
        gap: 0;
    }
    .etrafli_axtar_conetnt{
        width: 100%;
        padding: 15px 0;
        background-color: var(--bg-color3);
        border-radius: 17px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0;
    }
    .etrafli_axtar_conetnt select{
        width: 100%;
        height: fit-content;
        border: none;
        border-radius: 0;
    }
    .unvan input{border-radius: 0;}
    .elave_ozelliyi{margin: 0;}
    .secimler .axtar, .secimler .etarfli_btn{display: initial;}
    .etarfli_btn i{display: initial;}
    .mobile_last_btns{display: none;}
    .last_btns{margin: 0;}
}