:root{
    --bg_color: #00AF91;
    --bg-color2: #eee;
    --bg-color3: #fff;
    --txt-color: #fff;
    --txt-color2: #14142B;
    --txt-color3: #007965;
    --border-color: #D9DBE9;
}
.container{
    width: 90%;
    margin: auto;
}
.searching_box_bg{background-color: var(--bg-color2);}
.searching_box{
    width: 100%;
    padding: 20px 0;
    display: none;
}
.search_btns{
    display: flex;
    align-items: center;
    gap: 12px;
}
.alqi_btn{
    width: 82;
    border: 1px solid transparent;
    border-radius: 15px;
    font: 600 16px "Gilroy", sans-serif;
    line-height: 40px;
    padding: 0 26px;
    background-color: var(--bg_color);
    color: var(--txt-color);
    cursor: pointer;
    transition: .3s;
}
.alqi_btn:hover{color: var(--txt-color2);}
.kiraye_btn{
    width: 82;
    height: 40;
    border-radius: 15px;
    border-width: 1px;
    font: 600 16px "Gilroy", sans-serif;
    line-height: 40px;
    padding: 0 18px;
    border: 1px solid var(--txt-color2);
    cursor: pointer;
    transition: .3s;
}
.kiraye_btn:hover{border-color: transparent;}
.secimler, .etrafli_axtar_conetnt{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}
.secimler{position: relative;}
.etrafli_axtar_conetnt{
    margin-top: 12px;
    /* max-height: 0px; */
    /* overflow: hidden; */
    /* opacity: 0; */
    display: none;
    transition: all .4s;
}
.unvan input{
    font: 400 16px "Poppins", sans-serif;
    color: var(--txt-color2);
    background-color: var(--bg-color3);
    border: 0.7px solid var(--border-color);
    border-radius: 15px;
    width: 100%;
    height: 48px;
    padding: 0 20px;
    outline: none;
    box-sizing: border-box;
}
.unvan input::placeholder{
    font: 400 14px "Poppins", sans-serif;
    color: var(--txt-color2);
}
.unvan input:focus{outline: 1px solid var(--bg_color);}
.elave_ozelliyi{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    margin-top: 14px;
}
.cixaris_inp, .ipoteka_inp{
    display: flex;
    align-items: center;
    gap: 14px;
    text-align: center;
}
#cixaris, #ipoteka{
    width: 20px;
    height: 20px;
    border: 2px solid var(--txt-color2);
    opacity: 0.7;
    cursor: pointer;
}
.cixaris_inp label, .ipoteka_inp label{
    font: 500 14px "Poppins", sans-serif;
    color: var(--txt-color2);
    cursor: pointer;
}
.mobile_last_btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.last_btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.etarfli_btn{
    background: none;
    font: 500 16px "Poppins", sans-serif;
    color: var(--txt-color3);
    white-space: nowrap;
    border: none;
    cursor: pointer;
    line-height: 40px;
    padding: 0 15px;
    transition: .3s;
}
.etarfli_btn:hover{color: var(--txt-color2);}
.etarfli_btn i{display: none;}
.sifirla{
    width: 162px;
    border-radius: 15px;
    border-width: 1px;
    font: 600 16px "Gilroy", sans-serif;
    line-height: 40px;
    border: 1px solid var(--txt-color2);
    cursor: pointer;
    transition: .3s;
}
.sifirla:hover{border-color: transparent;}
.sifirla{display: none;}
.axtar{
    width: 162px;
    border: 1px solid var(--bg_color);
    border-radius: 15px;
    font: 600 16px "Gilroy", sans-serif;
    line-height: 40px;
    padding: 0 30px;
    background-color: var(--bg_color);
    color: var(--txt-color);
    cursor: pointer;
    transition: .3s;
}
.axtar:hover{color: var(--txt-color2);}

@media (min-width:860px) {
    .container{max-width: 1220px;}
    .searching_box_bg{background-color: transparent;}
    .searching_box{
        position: relative;
        display: block;
        padding: 38px 38px 120px;
        background-color: var(--bg-color2);
        width: 100%;
        border: none;
        border-radius: 26px;
    }
    .secimler {
        width: 100%;
        padding: 5px;
        background-color: var(--bg-color3);
        border-radius: 17px;
        flex-direction: row;
        align-items: center;
        gap: 0;
    }
    .etrafli_axtar_conetnt{
        width: 100%;
        padding: 5px 0;
        background-color: var(--bg-color3);
        border-radius: 17px;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
        gap: 0;
    }
    .unvan{
        border-right: 2px solid #eee;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33.20%;
        padding: 0 5px;
    }
    .unvan input{
        max-width: 280px;
        margin: auto;
    }
    .elave_ozelliyi{
        justify-content: center;
        gap: 10px;
        width: 33.32%;
        padding: 0;
        margin: 0;
    }
    .axtar, .sifirla{
        position: static;
        width: 100px;
    }
    .etarfli_btn{padding: 0 10px;}
    .etarfli_btn i{display: initial;}
    .mobile_last_btns{
        position: absolute;
        top: 108px;
        right: 38px;
        z-index: 10;
        margin: 0;
        padding: 0;
        max-width: 240px;
    }
    .last_btns{
        margin: 0;
        width: fit-content;
        margin: auto;
        gap: 0;
    }
}
@media(min-width: 991px){
    .last_btns{gap: 5px;}
    .mobile_last_btns{max-width: 300px;}
    .etarfli_btn{padding: 0 20px;}
    .axtar, .sifirla{
        width: 120px;
        padding: 0 20px;
    }
}
@media(min-width: 1224px){
    .last_btns{gap: 10px;}
    .mobile_last_btns{max-width: 381px;}
    .etarfli_btn{padding: 0 20px;}
    .axtar, .sifirla{
        width: 162px;
        padding: 0 20px;
    }
}