:root {
  --bg_color: #00af91;
  --bg-color2: #eee;
  --bg-color3: #fff;
  --bg-color4: #d9dbe9;
  --txt-color: #fff;
  --txt-color2: #14142b;
  --txt-color3: #007965;
  --border-color: #d9dbe9;
}
#gunluk_villa {
  height: fit-content;
  padding: 50px 0;
}
.section_head {
  font: 600 18px "Poppins", sans-serif;
  color: var(--txt-color2);
  height: 51px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  display: flex;
  justify-content: flex-start;
  text-align: center;
}
.ev_unvanlari {
  display: flex;
  align-items: center;
  gap: 16px;
}
.ev_unvanlari a {
  font: 400 16px "Poppins", sans-serif;
  color: var(--txt-color2);
  height: 39px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid var(--bg-color4);
  border-radius: 32px;
  padding: 5px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.villa_all_pictures {
  margin-top: 28px;
  padding: 12px;
  border-radius: 12px;
  background-color: var(--bg-color2);
  display: flex;
  align-items: center;
  gap: 12px;
}
.villa_photo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}
.villa_photo img {
  max-width: 185px;
  height: 183px;
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 425px) {
  .villa_all_pictures {
    flex-direction: column;
  }
  .villa_photo {
    width: 100%;
    img {
      width: 48%;
      height: 100px;
    }
  }
}
