#vipElanlar,
#premiumElanlar,
#sonElanlar {
  position: relative;
  margin-top: 30px;
}
.section_head_line {
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section_head {
  font: 600 18px "Poppins", sans-serif;
  color: var(--txt-color2);
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  display: flex;
  justify-content: flex-start;
  text-align: center;
}
.hamisina_bax {
  margin: 0;
  font: 600 12px "Poppins", sans-serif;
  color: var(--txt-color3);
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.my_slider {margin-top: 30px;}
.swiper {
  width: 100%;
  height: 219px;
  box-sizing: border-box;
  margin: 0 auto;
}
.swiper-slide {
  width: 155px !important;
  height: 219px !important;
  margin: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid #c5c3c3;
  border-radius: 12px;
}
.swiper-button-next,
.swiper-button-prev {
  display: none;
}
.ev {
  width: 155px;
  height: 219px;
  display: flex;
  flex-direction: column;
}
.ev_img {
  position: relative;
  width: 100%;
  height: 121px;
}
.ev_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ev_info {
  height: 98px;
  margin: 0;
  padding: 14px;
}
.ev_qiymet {
  font: 600 16px "Poppins", sans-serif;
  line-height: 100%;
  letter-spacing: 0%;
  height: 20px;
  color: var(--txt-color4);
}
.ev_unvan {
  font: 400 12px "Poppins", sans-serif;
  color: var(--txt-color2);
  height: 20px;
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.ev_details {
  display: flex;
  align-items: center;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.ev_otaq_sayi,
.ev_kvadrat,
.ev_mertebe {
  font: 400 11px "Poppins", sans-serif;
  color: var(--txt-color2);
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.ev_otaq_sayi {
  border-right: 0.5px solid var(--border-color2);
  padding-right: 5px;
}
.ev_kvadrat {
  border-right: 0.5px solid var(--border-color2);
  padding: 0 5px;
}
.ev_mertebe {
  padding-left: 5px;
}
.elan_date {
  display: flex;
  align-items: center;
  font: 400 10px "Poppins", sans-serif;
  color: var(--txt-color5);
  height: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.ferqli_ozellikler {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box !important;
}
.ferqli_ozellikler .ferqli_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ferqli_ozellikler .ferqli_top .ferqli_top_left {
  display: flex;
  align-items: center;
  gap: 4px;
}
.ferqli_ozellikler .ferqli_top .heart_icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ferqli_ozellikler .ferqli_top .heart_icon i {
  font-size: 20px;
  color: #ffffffe1;
}
.ferqli_ozellikler .ferqli_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ferqli_ozellikler .ferqli_bottom .ferqli_bottom_left {
  width: 65%;
  overflow: hidden;
}
.ferqli_ozellikler .ferqli_bottom .ferqli_bottom_left span {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  text-align: center;
  background-color: var(--bg-color3);
  padding: 3px 14px;
  height: 22px;
  border-radius: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  font: 400 10px "Poppins", sans-serif;
  color: var(--txt-color6);
}

.ferqli_ozellikler .ferqli_bottom .ferqli_bottom_right {
  display: flex;
  align-items: center;
  gap: 4px;
}
.ferqli_ozellikler .ferqli_bottom .ferqli_bottom_right .check_icon {
  width: 18px;
  height: 18px;
}
.ferqli_ozellikler .ferqli_bottom .ferqli_bottom_right .percent_icon {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--bg-color5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg-color3);
  font-weight: bold;
  font-size: 12px;
}
.ferqli_ozellikler .king_icon,
.ferqli_ozellikler .diamond_icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--bg-color3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ferqli_ozellikler .king_icon img,
.ferqli_ozellikler .diamond_icon img {
  width: 18px;
  height: 14px;
}
@media (min-width: 480px) {
  .swiper-slide {
    width: 166px !important;
    height: 219px !important;
  }
  .ev {
    width: 166px;
    height: 219px;
  }
}
@media (min-width: 860px) {
  #vipElanlar,
  #premiumElanlar,
  #sonElanlar{margin-top: 80px;}
  .section_head {font-size: 30px;}
  .hamisina_bax {
    margin-right: 150px;
    font-size: 18px;
  }  
  .swiper {height: 640px;}
  .swiper-slide {
    width: 288px !important;
    height: 309px !important;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    top: 15px;
    transform: none;
    width: 42px;
    height: 42px;
    background-color: #eee;
    color: #00af91;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    z-index: 10;
    cursor: pointer;
  }
  .swiper-button-prev::after {
    content: "⟵";
    font-size: 20px;
    font-weight: bold;
  }
  .swiper-button-next::after {
    content: "⟶";
    font-size: 20px;
    font-weight: bold;
  }
  .swiper-button-next:hover,
  .swiper-button-prev:hover {background-color: #d1d0d0;}
  .swiper-button-prev {
    right: 60px;
    left: auto;
  }
  .swiper-button-next {right: 0;}
  .ev {
    width: 288px;
    height: 309px;
  }
  .ev_img {height: 176px;}
  .ev_info {height: 122px;}
  .ferqli_ozellikler {padding: 16px;}
  .ferqli_ozellikler .ferqli_top .ferqli_top_left {gap: 10px;}
  .ferqli_ozellikler .ferqli_top .heart_icon,
  .ferqli_ozellikler .king_icon,
  .ferqli_ozellikler .diamond_icon {
    width: 26px;
    height: 26px;
  }
  .ferqli_ozellikler .ferqli_bottom .ferqli_bottom_left {
    width: fit-content;
    max-width: 65%;
  }
  .ferqli_ozellikler .ferqli_bottom .ferqli_bottom_right .percent_icon,
  .ferqli_ozellikler .ferqli_bottom .ferqli_bottom_right .check_icon {
    width: 26px;
    height: 26px;
  }
  .ferqli_ozellikler .ferqli_bottom .ferqli_bottom_right {gap: 10px;}
  .ev_qiymet {
    font-size: 20px;
    height: 31.75px;
  }
  .ev_unvan {
    font-size: 16px;
    height: 25.4px;
  }
  .ev_details {height: 24.34px;}
  .ev_otaq_sayi {padding-right: 12px;}
  .ev_kvadrat {padding: 0 12px;}
  .ev_mertebe {padding-left: 12px;}
  .ev_otaq_sayi,
  .ev_kvadrat,
  .ev_mertebe {font-size: 13px;}
  .elan_date {
    font-size: 12px;
    height: 31.75px;
  }
}
