#bigBtns{padding: 26px 0;}
#bigBtns .bigBtns_content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.gundelik_evler, .ipoteka_evler{
    width: 160px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 14px;
    border: 1px solid var(--bg-color4);
    border-radius: 15px;
    background-color: var(--bg-color3);
    transition: .3s;
    span{
        width: 125px;
        text-align: center;
        font: 500 13px "Poppins", sans-serif;
        line-height: 118%;
        color: var(--txt-color2);
    }
    img{
        width: 80px;
        height: 48px;
    }
}
.gundelik_evler:hover, .ipoteka_evler:hover{background-color: var(--bg-color18);}
#topScrollBtn{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid var(--border-color3);
    background-color: transparent;
    font-size: 20px;
    color: var(--txt-color4);
    outline: none;
    transition: .3s;
    cursor: pointer;
    opacity: 0;
    position: fixed;
    bottom: 20px;
    right: 8px;
    z-index: 8888;
}
#topScrollBtn:hover{background-color:var(--bg_color); color: var(--txt-color2);}
  
@media (min-width: 860px) {
    #bigBtns{padding: 0;}
    #bigBtns .bigBtns_content{transform: translateY(-50%);}
    .gundelik_evler, .ipoteka_evler{
        width: 220px;
        height: 146px;
        padding: 23px;
        border-radius: 17px;
        span{
            font-size: 16px;
        }
        img{
            width: 116px;
            height: 70px;
        }
    }
    #topScrollBtn{
        width: 45px;
        height: 45px;
        border: 3px solid var(--border-color3);
        font-size: 24px;
        bottom: 30px;
        right: 5%;
    }
}